html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.estbank {
  margin-top: 200px;
  font-size: 30px;
  text-align: center;
  width: 100%;
  flex: 1;
  justify-content: center;
  color: red;
}

.bepay {
  margin-top: 200px;
  font-size: 30px;
  text-align: center;
  width: 100%;
  flex: 1;
  justify-content: center;
  color: blue;
}

.liquido {
  margin-top: 200px;
  font-size: 30px;
  text-align: center;
  width: 100%;
  flex: 1;
  justify-content: center;
  color: blue;
}

